
#nav {
	padding: 0;
	padding-left: 15px;
	margin: 0;
	list-style: none;
	height: 38px;
	background: #8A8A8A url('../images/menu/menu_0.gif') repeat-x;
	color: #bbbbbb;
	position: relative;
	z-index: 500;
	font-family: arial, verdana, sans-serif;
	height: 38px;
}

#nav li.top {
	display: block;
	float: left;
	height: 38px;
}


#nav li a.top-link {
	display: block;
	float: left;
	height: 35px;
	line-height: 33px;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	padding: 0 0 0 12px;
	background: url('../images/menu/menu_0.gif');
	color: #fff;
	cursor: pointer;
}

#nav li a.top-link-disabled {
	display: block;
	float: left;
	height: 35px;
	line-height: 33px;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	padding: 0 0 0 12px;
	background: url('../images/menu/menu_0.gif');
	color: #dddddd;
	cursor: pointer;
}

#nav li a.top-link span,
#nav li a.top-link-disabled span {
	float: left;
	display: block;
	padding: 0 24px 0 12px;
	height: 35px;
	background: url('../images/menu/menu_0.gif') right top no-repeat;
}

#nav li a.top-link span.down,
#nav li a.top-link-disabled span.down-disabled {
	float: left;
	display: block;
	padding: 0 24px 0 12px;
	height: 35px;
	background: url('../images/menu/menu_0a.gif') no-repeat right top;
}

#nav li:hover a.top-link {
	color: #000;
	background: url('../images/menu/menu_1.gif') no-repeat;
}

#nav li:hover a.top-link-disabled {
	color: #222222;
	background: url('../images/menu/menu_1.gif') no-repeat;
}

#nav li:hover a.top-link span,
#nav li:hover a.top-link-disabled span {
	background: url('../images/menu/menu_1.gif') no-repeat right top;
}

#nav li:hover a.top-link span.down,
#nav li:hover a.top-link-disabled span.down-disabled {
	background: url('../images/menu/menu_1a.gif') no-repeat right top;
}

/* the tails */

#nav li.tail {
	display: block;
	float: right;
	height: 38px;
	/*padding: 10px 10px 0 0; */
}

#nav li.tail a {
	color: #ffffff;
	font-size: 12px;
	text-decoration: none;
}

#nav li.tail a span {
	float: left;
	display: block;
	height: 35px;
	background: url('../images/menu/menu_0.gif') right top no-repeat;
	padding:10px 10px 0 10px;
}

#nav li.tail a :HOVER {
	background: url('../images/menu/menu_1.gif') no-repeat right top;
	color: #333333;
	text-decoration: none;
	display: block;
}


/* Default list styling */

#nav li:hover {position:relative; z-index:200;}

#nav li:hover ul.sub
{left:1px; top:38px; background: #d8d8d8; padding:3px; border:1px solid #d8d8d8; white-space:nowrap; width:90px; height:auto; z-index:300; text-align: left;}
#nav li:hover ul.sub li
{display:block; height:20px; position:relative; float:left; width:90px; font-weight:normal;}
#nav li:hover ul.sub li a
{display:block; font-size:12px; height:20px; width:88px; line-height:18px; text-indent:5px; color:#000; text-decoration:none;border:1px solid #d8d8d8;}
#nav li ul.sub li a.fly
{background:#d8d8d8 url('../images/menu/arrow.gif') 80px 6px no-repeat;}
#nav li:hover ul.sub li a:hover 
{background:#a4a4a4; color:#fff; border-color:#d8d8d8;}
#nav li:hover ul.sub li a.fly:hover
{background:#a4a4a4 url('../images/menu/arrow_over.gif') 80px 6px no-repeat; color:#fff;}


#nav li:hover li:hover ul,
#nav li:hover li:hover li:hover ul,
#nav li:hover li:hover li:hover li:hover ul,
#nav li:hover li:hover li:hover li:hover li:hover ul
{left:90px; top:-4px; background: #d8d8d8; padding:3px; border:1px solid #d8d8d8; white-space:nowrap; width:90px; z-index:400; height:auto;}

#nav ul, 
#nav li:hover ul ul,
#nav li:hover li:hover ul ul,
#nav li:hover li:hover li:hover ul ul,
#nav li:hover li:hover li:hover li:hover ul ul
{position:absolute; left:-9999px; top:-9999px; width:0; height:0; margin:0; padding:0; list-style:none;}

#nav li:hover li:hover a.fly,
#nav li:hover li:hover li:hover a.fly,
#nav li:hover li:hover li:hover li:hover a.fly,
#nav li:hover li:hover li:hover li:hover li:hover a.fly
{background:#d8d8d8 url('../images/menu/arrow_over.gif') 80px 6px no-repeat; color:#fff; border-color:#d8d8d8;} 

#nav li:hover li:hover li a.fly,
#nav li:hover li:hover li:hover li a.fly,
#nav li:hover li:hover li:hover li:hover li a.fly
{background:#d8d8d8 url('../images/menu/arrow.gif') 80px 6px no-repeat; color:#000; border-color:#d8d8d8;} 
